.staff-member {
    text-align: center;
}
.staff-contact {
    font-size: 32px;
    font-size: 2rem;
    color: #78a22f;
}
.staff-contact a {
      color: #78a22f;
      font-size: 0;
}
.staff-contact a:vistied, .staff-contact a:active {
        color: #78a22f;
}
.staff-contact a:hover {
  color: #fff;
}
.staff-contact a .fa {
    font-size: 32px;
    font-size: 2rem;
}
.staff-member-img {
    border: 10px solid #fff;
    border-radius: 50%;
}
.staff-member-name {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem auto;
}

.job-title {
    font-size: 24px;
    font-size: 1.5rem;
}


